.text-primary{
  color:$green-verdigris;
}
.text-white{
  color:$white;
}

.text-headline-large{
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: bold;
}

.text-title-medium{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.fw-500{
  font-weight: 500;
}

.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
