/* color */
$white: #fff;
$black: #000;
$black-chinese: #161616;

$grey: #F4F5F9;
$grey-french: #D1D1D8;
$grey-cool: #A2A3B1;
$grey-space: #393737;
$grey-jet: #343434;

$green-verdigris: #3AA39F;
$yellow-mikado:#FFC41F;
$red-imperial: #E14B4B;


/* navbar */
$navbar-height:4rem;
$navbar-padding:0 2rem;
