/* color */
$white: #fff;
$white-flash: #edf2f3;

$black: #000;
$black-chinese: #161616;

$grey: #F4F5F9;
$grey-french: #D1D1D8;
$grey-platinum: #E7E7E7;
$grey-cool: #A2A3B1;
$grey-space: #393737;
$grey-jet: #343434;

$green-celadon: #2D807E;
$green-myrtle: #3C7773;

$yellow-mikado:#FFC41F;
$red-imperial: #E14B4B;

/* navbar */
$navbar-height:4rem;
