@import '_reset.scss';
@import '_grid.scss';
@import '_components.scss';
@import '_helpers.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}


html,body, *{
  font-family: 'Raleway', sans-serif;
  color:$grey-space;
  margin: 0;
  padding: 0;
}

button{
  outline: 0;
  background: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}

.layout-wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
  .layout{
    position: relative;
    width: 100%;
    min-height: calc(100vh - $navbar-height);
  }
}


@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}
