@import '_reset.scss';
@import '_grid.scss';
@import '_components.scss';
@import '_helpers.scss';

html,body, *{
  font-family: 'Raleway', sans-serif;
  color:$grey-space;
}

.layout-wrapper{
  position: relative;
  width: 100%;
  .layout{
    position: relative;
    width: 100%;
    min-height: calc(100vh - $navbar-height);
  }
}
